.header-title__container {
    text-align: center;

    p {
        font-family: 'Golos';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        max-width: 759px;
        display: inline-flex;
        margin-top: 25px; 
        margin-bottom: 0;  
    }
}

.main-title {
    font-family: 'Museo Sans Cyrl 500';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 66px;
    margin-top: 66px;
    margin-bottom: 0px;
}

.header-subtitle {
    font-family: 'Museo Sans Cyrl 500';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 58px;
    margin: 20px 0 0 0;
}