.massage-wrapper{
    margin-bottom: 80px;
}
.rectangle-info-description{
    p{
        margin-top: 28px;
        margin-bottom: 0;
    }
}
.massage-container{
    margin-left: 15%;
    &:nth-child(2){
        margin-left: 40%;
    }
    &:nth-child(3){
        display: flex;
justify-content: center;
    }
    &:nth-child(5){
       margin-left: 40%; 
    }
    &:nth-child(7){
        margin-left: 40%; 
     }
}