.privacy-page__title{
    font-family: 'Museo Sans Cyrl';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 66px;
    text-align: center;
    margin-top: 63px;
    margin-bottom: 58px;
}
.privacy-list__title{
  
font-family: 'Museo Sans Cyrl';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
}
.privacy-list__subtitle{
    
font-family: 'Museo Sans Cyrl';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
}
.privacy-text__container{
    padding-bottom: 100px;
}