.broadcast-info{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.broadcast-title{
    font-family: 'Golos';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 45px;
}
.broadcast-info__section{
    margin-bottom: 80px;
}
.row-container{
    margin-bottom: 20px;
}
