.info-rectangle__wraper {
    padding: 40px;
    background: #FFFFFF;
    border-radius: 38px;
    width: fit-content;
    margin: 15px;
    position: relative;
    z-index: 5;

    p {
        color: #4C0085;
        width: 330px;
        margin-top: 32px;
    }

    a {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #4C0085;
        outline: none;
        border-bottom: 1px dashed #7700D1;
        margin-top: 30px;
        display: block;
        width: fit-content;
    }
}

.rectangle-title__container {
    display: flex;
}

.rectangle-title {

    color: #4C0085;
    margin: 0;
    margin-top: 9px;
}

.rectangle-info-description {
    max-width: 410px;
    font-family: 'Golos';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #4C0085;
}

.rectangle-number__round {
    margin-right: 30px;
    width: 57.82px;
    height: 57.82px;
    background: #7700D1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Golos';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

@media (max-width: 430px) {
    .info-rectangle__wraper {
        padding: 15px;

        p {
            max-width: 330px;
            width: unset;
            text-align: center;
        }
    }

    .rectangle-title__container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .rectangle-number__round {
        margin-right: 0;
        margin-top: 5px;
    }
}