.section-title__container {
    text-align: center;
}

.section-title {
    font-family: 'Museo Sans Cyrl';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 55px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 0;
}

.section-subtitle {
    font-family: 'Golos';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-top: 25px;
    margin-bottom: 0;
}

.price-table {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 38px;
    font-family: 'Golos';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.price-tabe__description {
    &:first-child {
        border-top-left-radius: 38px;
        background: #7700D1;
        color: #FFFFFF;
        border: 1px solid #FFFFFF;
        border-right: 1px solid transparent;
    }

    &:last-child {
        border-bottom-left-radius: 38px;
    }

    width: 260px;
    height: 76.2px;
    background: #FFFFFF;
    color: #7700D1;
    border: 1px solid #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #4C1D6F;
    border-right: 1px solid transparent;
}

.table-title__weight {
    background: #7700D1;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-bottom: 1px;
}

.price-tabe__collomn {
    width: 129px;
    height: 76px;
    background: #7700D1;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;

}

.price-tabe__main {
    width: 129px;
    height: 76px;
    background: #FFFFFF;
    color: #7700D1;
    border: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #4C1D6F;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;


}

.table-title__before10 {
    border-top-right-radius: 38px;
}

.price-tabe__last {
    border-bottom-right-radius: 38px;

}

.background-price__img {
    svg {
        position: absolute;
        margin-top: -434px;
        margin-left: -320px;
    }
}

.left-mark {
    svg {
        position: absolute;
        width: 20%;
        margin-top: -295px;
        margin-left: 61px;
    }
}

.right-mark {
    svg {
        width: 20%;
        position: absolute;
        margin-top: -640px;
        margin-left: 1130px;
    }
}

.price-cloud {
    position: absolute;
    margin-top: -560px;
    margin-left: 150px;

}

.price-minicloud {
    position: absolute;
    margin-top: -450px;
    margin-left: 1350px;
}

.table-plus {
    svg {
        position: absolute;
        margin-top: -450px;
        margin-left: 1250px;

        &:first-child {
            position: absolute;
            margin-top: -330px;
            margin-left: 180px;

        }
    }
}

@media (max-width: 900px) {
    .price-tabe__description {
        width: unset;
        max-width: 260px;
    }

    .table-title__divilery {
        padding-left: 8px;
    }

    .price-tabe__description:last-child {
        padding-left: 8px;
    }
}

@media (max-width: 630px) {
    .price-tabe__main {
        width: unset;
    }

    .price-tabe__collomn {
        width: unset;
        min-width: 67px;
    }
}

@media (max-width: 380px) {
    .price-tabe__collomn {
        min-width: 50px;
    }
}