.dilivery-status__title{
    max-width: 755px;
    margin: 100px auto 0;
}

.dilivery-status__subtitle{
    font-family: 'Golos';
font-style: normal;
font-weight: 400;
font-size: 20px;
max-width: 820px;
margin: 30px auto 0;
line-height: 30px;
}