.road {
    width: 100%;
    border: 3px solid;
    margin-top: -4px;
}



.background-image__house {
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
    position: absolute;
    margin-left: 24%;
    margin-top: -256px;
}

.image-container {
    margin-top: 400px;

    svg {
        position: absolute;
    }

}

.warehouse-img {
    svg {
        margin-top: -314px;
        margin-left: -20px;
    }
}

.car-icon {
    svg {
        margin-top: -161px;
        margin-left: 431px;
    }
}

.house-img {
    svg {
        margin-top: -570px;
        margin-left: 1065px;
    }
}

.road-map {
    svg {
        position: absolute;
        margin-top: -135px;
        // width: 77%;
        margin-left: 168px;
        overflow-y: hidden;
        overflow-x: hidden;
    }

}

.background-image__cloud {
    position: absolute;
    margin-top: 30px;
    margin-left: 30px;

}

.background-image__minicloud {
    margin-left: 950px;
    position: absolute;
    margin-top: 163px;
}

.background-image__sun {
    position: absolute;
    margin-left: 1432px;
    margin-top: -85px;
}

.background__cloud {
    position: absolute;
    margin-left: 1172px;
    margin-top: -178px;
    margin-left: 1113px;
    margin-top: -178px;
}

.achievements-deliveo__container {
    position: absolute;
}

.achievements-round {

    background: #FFFFFF;
    width: 128px;
    height: 118px;
    border-radius: 50%;
}

.car-icon {
    margin-left: 175px;
}

.achievements-round {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -175px;
    margin-left: 223px;
}

.achievements-present {
    font-family: 'Golos';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 56px;
    color: #4C0085;
    margin: 0;
    transform: rotate(-21.24deg);
    height: 24px;
    margin-left: -10px;

}

.achievements-title {
    font-family: 'Golos';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 56px;
    color: #4C0085;
    margin: 0;
    transform: rotate(-21.24deg);
    height: 43px;
    margin-left: 5px;
}

.achievements-description {
    font-family: 'Golos';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    width: 136px;
    transform: rotate(-21.24deg);
    position: absolute;
    margin-left: 257px;
    margin-top: -51px;

}
@media(max-width:1450px){
    .achievements-round,
    .achievements-description{
        display: none;
    }
}
@media(max-width:860px){
    .achievements-round,
    .achievements-description{
        display: block;
    }
    // 
    .road-map,
    .background-image__house{
        display: none;
    }
    .achievements-deliveo__container{
        margin-top: 190px;
        position: relative;
        display: flex;
justify-content: center;
    }
    .achievements-round{
        margin-left: 0;
        display: flex;
            p{
                transform: unset;
            }
    }
    .image-container{
        margin-top: 350px;
    }
    .achievements-description{
        transform: unset;
margin-left: 0;
    }
    .warehouse-img{
        svg{
            max-width: 100%;
        }
    }
    .road{
        display: none;
    }
}
@media(max-width:435px) {  
    .image-container{
        margin-top: 250px;
    }
}