@font-face {
	font-family: 'GolosTextWebMedium';
	src:
		url('fonts/Golos-Text_Medium.woff2') format('woff2'),
		url('fonts/Golos-Text_Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}