@font-face {
	font-family: 'GolosTextWebMedium';
	src:
		url('fonts/Golos-Text_Medium.woff2') format('woff2'),
		url('fonts/Golos-Text_Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans Cyrl 500';
	src: url('fonts/MuseoSansCyrl-500.eot');
	src: local('fonts/MuseoSansCyrl-500'),
		url('fonts/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
		url('fonts/MuseoSansCyrl-500.woff') format('woff'),
		url('fonts/MuseoSansCyrl-500.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}