.importantInfo-rectngle{
max-width: 1300px;
height: 600px;
background: #FFFFFF;
border-radius: 38px;
margin: 535px auto 0;
}
.importantInfo-title{
    font-family: 'Museo Sans Cyrl';
font-style: normal;
font-weight: 400;
font-size: 46px;
line-height: 55px;
text-align: center;
color: #4C0085;
padding-top: 100px;
}