footer {
    padding: 20px 40px 20px 20px;
    background: #FFFFFF;
    width: 100%;
    margin-left: -10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: -10px;
    flex-wrap: wrap;
}

.footer-logo__container {
    display: flex;
    margin: 0 20px;

    h4 {
        font-family: 'Russo One';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.03em;
        color: #4C0085;
        margin-top: 10px;
        margin-left: 10px;

    }
}

.footer-owner__container {
    margin: 0 20px;

    p {
        font-family: 'Golos';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        color: #4C0085;
    }
}

.footer-privacy__container {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    text-decoration: none;

    a {
        font-family: 'Golos';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 24px;
        color: #4C0085;
        border-bottom: 1px dashed #4C0085;
        width: fit-content;
    }
}

.footer-contacts__container {
    margin: -23px 20px 0;

    align-items: center;
    margin-top: -23px;
    display: flex;
    color: #4C0085;

}

.footer-number__link {
    font-family: 'Golos';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #4C0085;
}

@media (max-width: 600px) {

    .footer-privacy__container,
    .footer-owner__container {
        margin: 0;
        width: 222px;
    }

}
.footer-rectangle {
    width: 60px;
    height: 40px;
    background: #48DB45;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
    margin-top: 41px;

    &:last-child {
        background: #02ADFF;
    }
}

@media(max-width:459px) {
    .footer-contacts__container {
        flex-wrap: wrap;
        justify-content:start;
        width: 222px;

        margin: -20px 0 25px;
    }
    .footer-rectangle{
        margin-top: 20px;
    }
}