.important-container__text {
    font-family: 'Golos';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    width: 400px;
    text-align: center;
    color: #4C0085;
}

.important-container__item {
    width: 400px;
    padding: 30px;

    &:first-child {
        width: 450px;
    }
}

.important-iconcontainer {
    display: flex;
    justify-content: center;

    svg {
        margin-bottom: 30px;
    }
}