.benefit-rounds-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.benefits-title {
    font-family: 'Museo Sans Cyrl';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 55px;
    max-width: 800px;
    text-align: center;
    margin: 100px auto 0;
}

.benefits-description {

    font-family: 'Golos';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    max-width: 550px;
    margin: 27px auto 0;
    text-align: center;
}

.benefit-round {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    background: #FFFFFF;
    color: #4C0085;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 90px;

    &:last-child {
        width: 500px;
        height: 500px;
        margin-top: 20px;
        margin-left: 20px;

        p {
            max-width: 370px;
        }

        a {
            color: #4C0085;
            margin-top: 20px;
            font-family: 'Golos';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            border-bottom: 1px dashed #4C0085;
        }
    }

    &__title {
        font-family: 'Golos';
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 24px;
        margin: 10px 0 10px;
    }

    &__subtitle {
        font-family: 'Golos';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        max-width: 200px;
        text-align: center;
    }
}

.benefit-round__person {
    background-image: url(../../icons/img/Capter.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    margin-top: 50px;
}

.benefit-icons {
    svg {
        &:first-child {
            position: absolute;
            margin-top: -200px;
            margin-left: 190px;
        }

        position: absolute;
        margin-top: -600px;
        margin-left: 1100px;
    }
}
@media(max-width:1500px){
    .benefit-icons{
        &:first-child {
            display: none;
        }
    }  
}
@media(max-width:900px){
    .benefit-round{
        margin-top: 50px;
    margin-right: 0;
    &:last-child{
        margin-top: 50px;
    }
    }

}
@media(max-width:570px){
.benefit-round:last-child{
    margin-right: 0;
    margin-left: 0;
    min-width: 500px;
}
}
@media(max-width:470px){
    .benefit-round:last-child{
        p{
            max-width: 300px;
        }
    }
    }
    @media(max-width:340px){
        .benefit-round:last-child{
            img{
                width: 50%;
            }
        }
        }