.processes-plus{
    display: flex;
justify-content: center;
margin-top: 50px;
}
.processes-title{
    margin-top: 68px;
}
.processes-rectangles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}