.processes-plus{
    display: flex;
justify-content: center;
margin-top: 50px;
}
.processes-title{
    margin-top: 68px;
}
.processes-rectangles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.processes-more__link{
    font-family: 'Golos';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
display: block;
margin: 30px auto 0;
border-bottom: 1px dashed #FFFFFF;
width: 86px;
}